*{
    margin: 0;
    padding: 0;
    outline-style: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
.forfinal{
    border: 1px solid transparent;
    width: 100%;
    height: 50px;
}
.finaltxt{
    justify-content:center;
    align-items: right;
    display: flex;
}
.finaltxt h1{
    color: #000;
    text-align: center;        
    font-family: Philosopher;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 90% */
}
.finalborder{
    width: 100%;
    height: 400px;
    border: 1px solid transparent;
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.finalbox{
    border: 1px solid #000;
    width: 500px;
    height: 300px;
    display: flex;
    margin-top: 50px; 
    position: relative;
}
.finalbox h1{
    color: #363434;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 184.615% */
    text-align: center;
}
.finalbox2{
    border: 1px solid transparent;
    width: 400px;
    height: 80px;
    position: absolute;
    left: 50px;
    top: 20px;
}
.finalbox3{
    border: 1px solid #000;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 180px;
    top: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.finalbox3 a{
    color: #008139;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; /* 100% */
}
.finalbox4{
    border: 1px solid transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 60px;
    background-image: url("https://s3-alpha-sig.figma.com/img/681f/6a8e/dc68e857e74de6636d06fe168d0276dc?Expires=1698624000&Signature=fbjLcLn9qxF0FTWSRLZqBkOIUlVU~t52UstEkCYA2DXzw4erchPyKeZbQ1i5ckMXJyLa1FOaKc5aSk0OPblORToSzdGqGQ5mI93GEC16PU9uvgTY8K36O7ctEQ8qe6mwvTauB4cf8-u~plPqGJmK82j62rkhEQsi9Zm0SE57rTN-OUvIWAcMhmGHuj6VEKfxfN-PC~OXlJoeDKR7JNXTVgtkuStQDNvc7z~p6T1a4FMagnzS1XirgqHoX22H6EfhUb62rRvZZSRQy4Y-xrqbhCWqR2IaGhnc5WsslEV7s0wO8HkK5S~HqT3jHr4ZeXLAAtSwOZcH-3t9s2PcW9kA~Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.finalbox5{
    border: 1px solid transparent;
    width: 200px;
    height: 70px;
}
.finalbox5 h1{
    color: var(--text-black, #101820);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
text-align: right;
}
.finalinst{
    position: absolute;
    left: 80px;
    top: 50px;
    width: 30px;
    height: 20px;
}
.finalfacebook{
    position: absolute;
    left: 110px;
    top: 50px;
    width: 30px;
    height: 20px;
}
.forfinalcommon{
    position:absolute;
    left: 400px;
    top: 178px;
}
.finallcommon{
    width: 80px;
    height: 80px;
}
.finalbox7  {
    border: 1px solid #000;
    width: 500px;
    height: 300px;  
    display: flex;
    margin-top: 50px;
    position: relative;
}
.finalbox8{
    border: 1px solid transparent;
    width: 400px;
    height: 80px;
    position: absolute;
    left: 50px;
    top: 20px;
}
.finalbox8 h1{
    color: #363434;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 184.615% */
}
.finalbox9{
    border: 1px solid #000;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 180px;
    top: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.finalbox9 a{
    color: #008139;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; /* 100% */
}
.finalbox10{
    border: 1px solid transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 60px;
    background-image: url("https://s3-alpha-sig.figma.com/img/7017/d6dd/3726b8c2dd6345ba432f98f684d03efa?Expires=1698624000&Signature=lE9dYKGK3v8JDssQMbXMpDoLRmz87liqoiOwxSqm2EZ6CnG0SsivfipdVGILassPkQY9ZwN0X-asME5B0HeTjl4hpac7KUt4C~m~SvSE6ubSmTHkuAuzINsnJu6JZad~YdwiBSxvIPHcP-RaanRuSCCsTBoGEImmguOZvunA-Yf0r-8GH81I79UEqlC0YjlKo9aGkavbyHcLWghr2fL36m0wm6ZCjSVQGUD7eDUwweKWUl2orvHgw2RWmgsyw04imv6mSOBrl~~AUWACHGMvBgmsxdueCc~TjRZEpAkokABpP2PFMbaJLqcwlArt64e08MhTtdQhyQQWQK3p0LFfyA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.finalbox11{
    border: 1px solid transparent;
    width: 200px;
    height: 70px;
}
.finalbox11 h1{
    color: var(--text-black, #101820);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
text-align: right;
}
.finalinst2{
    position: absolute;
    left: 80px;
    top: 50px;
    width: 30px;
    height: 20px;
}
.finalfacebook2{
    position: absolute;
    left: 110px;
    top: 50px;
    width: 30px;
    height: 20px;
}
.forfinalcommon2{
    position:absolute;
    left: 400px;
    top: 178px;
}
.finallcommon2{
    width: 80px;
    height: 80px;
}
.knopocki{
    width: 100%;
    height: 80px;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}
.cnop1{
    width: 140px;
    height: 60px;
}
.cnop2{
    height: 60px;
    width: 140px;
}
.cnop3{
    width: 140px;
    height: 60px;
}
.map{
    width: 100%;
    height: 800px;
    border: 1px solid transparent;
    background-image: url("https://s3-alpha-sig.figma.com/img/c895/721b/7df63a7f1343f19b88e8213e848a5844?Expires=1698624000&Signature=NTwKke8tUaNbJ4PTOalQGbF2XsRClr2oBgpIXT8CC5C2hfXUFD371NiSwoOmgtYENnpMhxOgSpkB093p7p3Th6ZVSVus-iQkgF72ihjvV9DUr7ghpZhQ5DCU9fJ-z5OdLWp~fimuuiGmiTlOLYQWkTnSy0QVN7Jlt9ldnK63De1Ha2Arq89BepqJjqG9elcD24rYM0kLEoeYqoaxHX0ZZXPXT~ZTwTc97Q8qyD5PibL5OV6Rcg9iZJouDkAH~2NemOCqoDtVDEfEZMMf6imoTVJwMl64E51x55epSe7kJC5UUEZqUphoZR8CHk6onlmzJ0pfkDN7Qjf2ScbiqEyKsQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.mapcontact{
    width: 500px;
    height: 500px;
    border: 1px solid transparent;
    position: absolute;
    left: 50px;
    top: 150px;
    background-color: #fff;
}
.mapcontact h1{
    color: #000;
font-family: Philosopher;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 90% */
position: absolute;
left: 70px;
top:76px;
}
.way{
    width: 26px;
    border: 1px solid #008139;
    position: absolute;
    left: 70px;
    top: 150px;
}
.locate{
    position: absolute;
    left: 70px;
    top: 180px;
}
.mapcontact h2{
    position: absolute;
    left: 100px;
    top: 180px;
    color: #363434;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}
.call{
    position: absolute;
    left: 70px;
    top: 230px;
}
.mapcontact h3{
    position: absolute;
    left: 100px;
    top: 230px;
    color: #363434;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}
.message{
    position: absolute;
    left: 70px;
    top: 270px;
}
.mapcontact h4{
    position: absolute;
    left: 100px;
    top: 270px;
    color: #363434;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}
.oclock{
    position: absolute;
    left: 70px;
    top: 310px;
}
.mapcontact h5{
    position: absolute;
    top: 310px;
    left: 100px;
    color: #363434;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}
.forfourth{
    border: 1px solid transparent;
    width: 200px;
    height: 45px;
    display: flex;
    gap: 15px;
    position: absolute;
    left: 240px;
    top: 390px;
}
.forinst{
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    background-image: url("https://s3-alpha-sig.figma.com/img/7b2b/f90b/fa262052d5a4eff938684e88fe7c38fe?Expires=1698624000&Signature=nVW8JdhvtQkxUJFagRoRzcoigWbOph2O8pLDHUgWOMrTNxiF10eqvBS9KflH2JO4NVYaNb0vgvFcWVn-2cYE2HWKNfG3~KMZ5LCXahYyj~gxiBzFlQb-Ror8iRcQ5m8XD0tmDSeLAiQoBCxj8IYzWm~hwxTC4b9zHlozodXdNsgTcpQrA0eN~NEon-I-1y25Fry5U~yLhM~F1B-rqDaH~h9VEVorui4MkJCo9aQ2nhRab1obFLcKvS9XD5bK5zusyUNVUnxtY~Khs1PXYqpH6qa8H~vxze4eF8WatmULmZro9GXiajUu8jOziTL4-SUAXCtY8TRJSb0diQHnPlwMpw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.foryoutube{
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    background-image: url("https://s3-alpha-sig.figma.com/img/6bb1/854d/9e8a8cd0e9da0135c02d6dec9ad006ed?Expires=1698624000&Signature=BLDLpm7Dq66Hm-LbI0S3WyMsfCfuDQHbrQgWFzid4XFbnrJVn5fMOM8dXetOs7TiJbJQJhR7PMtfFF1bZR1WyKFwxSrhpEZxYYAIpVYTwOOdWhV2Uasem1yN1zVggS7UHqa-wSFwMYlgZjlunWbcmvuvgiM8ljeJ0Hmmc0HxH3NXgJa5FGyy6fA6SterqMYqY9VtUeJ-DgleWVXdVx0KCZxPRtPi~4IOhmNZOB~Wt3djYX0naW-lYIbvKinfe92LOGGc1c6tMq7vFnue~AEcUQYbtqwRvIAam2JZc8wQMSX3gvH42ULcWbRdL4A3af8y2UAaSF3KrlHmlTun~REDGw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.forcall{
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    background-image: url("https://s3-alpha-sig.figma.com/img/5dfb/2a46/e2adf7e997ca1998432a6db22f783451?Expires=1698624000&Signature=V4-r1JlPda0WiyPtdWziobRIoc7JWTIWK8zDLnkAQL2WTyqU-cXYkA7LadKMpvtTIkR5PAq5JtU0AXIuN~edskbJajoRWcJ2B9TvfBfW6Nql-EgnmNLeeopZyEzoeV2140mhkf1s6sHaDM4xHndeSlU0SlGP369TDVemHXD9KE1w1iQicvLq-6st0RPXYe0H6n5lvBtUZ58F7CL5TbnfZpb-Zf5wtIkg0QnELxfILJ-Oq5p~8UwcZZlY~nEhmRfkHTXQtEmFvYbDSmZGIB24davHjhhbinn5u3PIO4c6MLVas9R6ixtCgioJc~PtZEWAwpR1CTEBC-jpr55GiIMycg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.forwcontact{
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    background-image: url("https://s3-alpha-sig.figma.com/img/5dfb/2a46/e2adf7e997ca1998432a6db22f783451?Expires=1698624000&Signature=V4-r1JlPda0WiyPtdWziobRIoc7JWTIWK8zDLnkAQL2WTyqU-cXYkA7LadKMpvtTIkR5PAq5JtU0AXIuN~edskbJajoRWcJ2B9TvfBfW6Nql-EgnmNLeeopZyEzoeV2140mhkf1s6sHaDM4xHndeSlU0SlGP369TDVemHXD9KE1w1iQicvLq-6st0RPXYe0H6n5lvBtUZ58F7CL5TbnfZpb-Zf5wtIkg0QnELxfILJ-Oq5p~8UwcZZlY~nEhmRfkHTXQtEmFvYbDSmZGIB24davHjhhbinn5u3PIO4c6MLVas9R6ixtCgioJc~PtZEWAwpR1CTEBC-jpr55GiIMycg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.location2{
    border: 1px solid transparent;
    width: 63px;
    height: 92px;
    position: absolute;
    left: 990px;
    top: 370px;
}
.logo{
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1002px;
    top: 382px;
    border-radius: 50%;
    background-image: url("./logo-04\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theendborder{
    width: 100%;
    height: 200px;
    background-color: #000;
    border: 1px solid #000; 
    position: relative;
}
.forimage{ 
    border: 1px solid transparent;
    width: 200px;
    height: 60px;
    background-image: url("https://s3-alpha-sig.figma.com/img/0179/1b50/2123a1a4b267df53cfcdbbcc8ae13082?Expires=1698624000&Signature=X7UjQk63c5m1IrwanDh9yq9a7bIf2xdb9BHTJwkcggOCQMxF-suN6bZCABuDFvTMszuDWBTMxymCEFBZjBKe~UQlnMJd0E-mJcvKVsOIccruhEzpyA1uXib1Lq6oDGJP8hkGfNNw~ZhcQ~IAwV5qTUmylsWZZMVL6QCrCV47khh0axf5khhc8fd8jLud-w2nTgowPx5CNEdbyhijeA2WAd~qt69Wt4tkfE6AQygh7SSX6sjE1QX2dwtlEKy39VQwhcbA6xehtq2eJT1cpiZqmfYKINeiDAmZA0e5bs0j6XB1vhyAGXXALc0CjKwDzbDjZIgEoDTFBmaOBSUvQxAWew__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50px;
    top: 40px;
}
.for4txt{
    border: 1px solid transparent;
    width: 440px;
    height: 40px;
    gap: 50px;
    display: flex;
    position: absolute;
    left: 700px;
    top: 50px;
}
.for4txt a{
    color: #EAEAEA;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 50px;
}
.forbutton{
    border-radius: 5px;
    border: 1px solid #FDE724;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 1200px;
    top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.forbutton a{
    color: #F5F5F5;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.endsogpol{
    width: 700px;
    height: 30px;
    border: 1px solid transparent;
    display: flex;
    position: relative;
    top: 120px;
    left: 60px;
    gap: 50px;
}
.sogl a{
    color: #7D808A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.politic a {
    color: #7D808A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}